doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="/bootstrap-icons/bootstrap-icons.css")
        link(rel="stylesheet", href="/css/index.css")
        title Blog
    body
        div(class="container-fluid px-0" id="body")
            include ./views/header.pug
            include ./views/navbar.pug
            include ./views/post.pug
            include ./views/footer.pug
        script(src="/bootstrap/js/bootstrap.bundle.min.js") 